<%= form_with(model: tenant_config, local: true) do |form| %>
  <% if tenant_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant_config.errors.count, "error") %> prohibited this tenant_config from being saved:</h2>

      <ul>
        <% tenant_config.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subdomain, 'subdomain（不可編輯）' %>
    <%= form.text_field :subdomain, disabled: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
